
body .dark{
    background-color: black;
    color: white;
    transition: background-color 03 ease ;
}
body .linght{
    background: #FFFFFF;
    color: black;
    transition: background-color 03 ease ;
}